{{#if session.isOpening }}
  Working..
{{else}}
  {{#if session.isAuthenticated }}
    <p>Welcome {{session.currentUser.name}}
    <a href="#" {{action 'signOutUser'}}>Sign Out</a>
    </p>
  {{else}}
    <a href="#" {{action 'signInWithGoogle'}}>Sign in with Google</a>
  {{/if}}
{{/if}}
